*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0 auto;
  font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif;
  min-inline-size: 375px;
  max-inline-size: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}

a {
  text-shadow: 1px 1px 0 var(--link-shadow-color);
}

a:hover {
  border-block-end: 1px solid var(--text-color);
  cursor: pointer;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid var(--text-color);
}

button:hover {
  outline: 1px solid var(--button-border-hover-color);
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:focus-visible {
  border-bottom: 1px solid var(--button-text-color);
}
